<h2>Lista de Alunos</h2>

@for (professor of pessoas; track $index) {
@if (professor.professor && !professorJaListado($index, professor.professor.cpf)) {
<h3>Professor Responsável</h3>
<li><strong>Nome:</strong> {{ professor.professor.nome }} </li>
<li><strong>CPF:</strong> {{ professor.professor.cpf }} </li>
<li><strong>Especialização:</strong> {{ professor.professor.especializacao }}</li>
<li><strong>Disciplinas:</strong> {{ professor.professor.disciplinas_ministradas }} </li>
<br />
}
}
<h3>Alunos</h3>
@for (aluno of pessoas; track $index) {
@if (aluno && !alunoJaListado($index, aluno.cpf)) {<li><strong>Nome:</strong> {{ aluno.nome }}</li>
<li><strong>CPF:</strong> {{ aluno.cpf }}</li>
<li><strong>Data de Nascimento:</strong> {{ aluno.data_nascimento | date: 'dd/MM/yyyy' }}</li>
<li><strong>Endereço:</strong> {{ aluno.endereco }}</li>
<li><strong>Curso:</strong> {{ aluno.curso }}</li>
<li><strong>Nota:</strong> {{ aluno.notas }}</li>
<br />
}
}
<style>
    h2,
    h3 {
        text-align: center;
        color: #333;
    }

    li {
        list-style: none;
        background: #f9f9f9;
        margin: 5px 0;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    strong {
        color: #007bff;
    }
</style>